include AUTHORS COPYING NEWS                
 exclude MANIFEST.in	                        
 graft data                                  
 graft pyromaths/qt/data                     
 graft debian                                
 graft utils                                 
 include Makefile                            

